:root {
    --main: #03164f;
    --sec: #898932;
    --re: #898932;
    --thir: #FFFFFF;
    --ina: #084F77;
    --dd: #661615;
    --dark: #1E1E1E;
}

@font-face {
    font-family: inter;
    src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

/* Default Start */
html {
    scroll-behavior: smooth;
}
* {
    font-family: inter, arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Default End */

/* Body Start */
body {
    background-color: var(--thir);
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
/* Body End */

/* Header Start */
#menu {
    display: none;
}

header {
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 3;
    width: 50px;
    border-radius: 20px;
    transition: width .3s ease-in-out;
    background-color: #d9d9d9b0;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

header ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

header ul li {
    list-style: none;
    margin-right: 30px;
    padding: 15px 0;
    position: relative;
    width: 100%;
}

header ul li::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    transform: rotate(45deg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark);
    transition: opacity .3s ease-in;
}

header ul li.active::after {
    background-color: var(--sec);
}

header ul li a {
    text-decoration: none;
    color: #1E1E1E;
    position: relative;
    opacity: 0;
}

header ul li.active a {
    color: var(--sec);
}

header ul li a:hover {
    color: var(--main);
}

header:hover {
    width: 150px;
    padding-left: 20px;
}

header:hover ul li::after {
    opacity: 0;
}

header:hover ul li a {
    opacity: 1;
    transition: opacity .3s ease-in-out;
    transition-delay: .3s;
}
/* Header End */

/* Banner Start */
.banner {
    width: 100%;
    height: 10vw;
}
/* Banner End */

/* Home Start */
section#home {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    padding: 0 3%;
    font-size: 2.5vw;
}


section#home p {
    color: var(--dark);
}
section#home p strong {
    color: var(--sec);
    font-size: 3vw;
    font-weight: 500;
}

section#home p strong::after {
    content: '.';
    background-color: var(--sec);
    width: 2px;
    height: auto;
    animation: cliniote 5s infinite;
    opacity: 0;
}

section#home p strong.showa::after {
    opacity: 1;
}

section#home p strong span {
    display: inline-block;
}

section#home button {
    padding: 15px 10px;
    margin-top: 3%;
    background-color: transparent;
    border: 1px solid var(--sec);
    color: var(--sec);
    border-radius: 10px;
    font-size: 2vw;
    position: relative;
    /* transition-delay: .3s; */
}

section#home button::before {
    content: '';
    width: 0;
    background-color: var(--sec);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    transition: width .5s ease-in-out;
    z-index: -1;
}

section#home button:hover {
    color: var(--thir);
}
section#home button:hover::before {
    width: 100%;
}


section#home img {
    width: 50%;
    height: auto;
    max-width: 800px;
    object-fit: cover;
}
/* Home End */

/* About Start */
section#about {
    background-color: var(--main);
    color: var(--thir);
    height: auto;
    padding: 5% 0;
}

section#about h1 {
    text-transform: uppercase;
    font-size: 9vw;
    font-weight: 800;
    padding: 3%;
    padding-top: 0;
    transform: translateX(-100%);
    transition: transform .5s ease-in;
}

section#about.show h1 {
    transform: translateX(0);
}

section#about p{
    position: relative;
    right: 0;
    width: 80%;
    margin-left: 10%;
    font-size: 1.4vw;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease-in, opacity 1s ease-in;
}

section#about.show p {
    opacity: 1;
    transform: translateX(0);
}
/* About End */

/* Skills Start */
div#skills {
    height: 60vw;
    font-size: 5vw;
    color: var(--re);
    text-transform: uppercase;
    position: relative;
}

div#skills div {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}

div#skills h1 {
    transition: transform 1s ease-in-out;
}

div#skills h1:nth-child(1) {
    font-weight: 900;
    position: relative;
    left: 10%;
    transform: translateX(-150%);
}

div#skills h1:nth-child(2){
    font-weight: 900;
    color: transparent;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--re);
    position: relative;
    left: 30%;
    transform: translateX(170%);
}

div#skills h1:nth-child(3){
    font-weight: 900;
    position: relative;
    left: 15%;
    transform: translateX(-170%);
}

div#skills.show h1 {
    transform: translateX(0);
}
/* Skills End */

/* Education Start */
section#education{
    height: auto;
    opacity: 0;
    transition: opacity .5s ease-in
}

section#education.show {
    opacity: 1;
}
section#education h1{
    text-transform: uppercase;
    font-size: 9vw;
    font-weight: 800;
    padding: 2%;
    color: var(--sec);
}

section#education .container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%; 
    position: relative;
    color: var(--dark);
    margin: 3%;
}

section#education .container .content {
    margin-left: 7%;
    border-bottom: 1px solid var(--sec);
    padding-bottom: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

section#education .container .content h2 {
    position: relative;
    width: 300px;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 2vw;
}

section#education .container .content h2::before {
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--sec);
    position: absolute;
    left: -30px;
    transform: translateY(50%);
}

section#education .container .content h2::after {
    content: '';
    width: 3px;
    height: calc(100%*6);
    background-color: var(--sec);
    position: absolute;
    left: -25px;
    top: 7px;
}

section#education .container .content .last::after {
    height: calc(100%*4);
}
section#education .container .content h3 {
    font-weight: 700;
    font-size: 1.7vw;
    text-transform: capitalize;
}

section#education .container .content h4 {
    font-size: 1.4vw;
    font-weight: 500;
    text-transform: capitalize;
}

section#education .container .content p {
    font-size: 1.2vw;
}
/* Education End */

/* Quote Start */
div#quote {
    font-size: 6vw;
    color: var(--re);
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    height: 100vw;
}

div#quote div {
    position: absolute;
    top: 50%;
    background-color: var(--main);
    height: 50%;
    width: 100%;
    z-index: -1;
}


div#quote h1:nth-child(1) {
    font-weight: 900;
    transform: rotate(5deg);
    position: absolute;
    top: 15%;
    left: -100%;
    transition: left .5s ease-in;
}

div#quote.show h1:nth-child(1) {
    left: 8%;
}

div#quote h1:nth-child(2){
    font-weight: 900;
    color: var(--dark);
    position: absolute;
    top: 10%;
    left: 35%;
    transform: rotate(-20deg);
    opacity: 0;
    transition: opacity .5s ease-in;
}

div#quote.show h1:nth-child(2){
    opacity: 1;
}

div#quote h1:nth-child(3){
    font-weight: 900;
    position: absolute;
    top: 20%;
    left: 1500px;
    transform: rotate(-15deg);
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--re);
    transition: left .5s ease-in;
}

div#quote.show h1:nth-child(3){
    left: 45%;
}

div#quote h1:nth-child(4){
    font-weight: 900;
    position: absolute;
    top: 40%;
    left: -900px;
    transform: rotate(10deg);
    transition: left .5s ease-in;
    color: var(--re);

}

div#quote.show h1:nth-child(4){
    left: 30%;
}

div#quote h1:nth-child(5){
    font-weight: 900;
    position: absolute;
    top: 60%;
    left: 2000px;
    transform: rotate(-10deg);
    transition: left .5s ease-in;
    color: var(--dark);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--thir);
}

div#quote.show h1:nth-child(5){
    left: 20%;
}

div#quote h1:nth-child(6){
    font-weight: 900;
    position: absolute;
    top: 80%;
    left: -150%;
    color: transparent;
    color: var(--thir);
    transition: left .5s ease-in;
    transform: rotate(2deg);
}

div#quote.show h1:nth-child(6){
    left: 15%;
}
/* Quote End */

/* Experiences Start */
section#experiences{
    height: auto;
    color: var(--thir);
    background-color: var(--main);
    padding-bottom: 5%;
}

section#experiences h1{
    text-transform: uppercase;
    font-size: 9vw;
    font-weight: 800;
    padding: 2%;
    opacity: 0;
    transition: opacity .5s ease-in;
}

section#experiences.show h1 {
    opacity: 1;
}

section#experiences .container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%; 
    position: relative;
    opacity: 0;
    transition: opacity .5s ease-in;
    margin: 3%;
}

section#experiences.show .container {
    opacity: 1;
}

section#experiences .container .content {
    margin-right: 7%;
    border-bottom: 1px solid var(--thir);
    padding-bottom: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

section#experiences .container .content h2 {
    position: relative;
    font-weight: 800;
    text-transform: capitalize;
    width: 200px;
    font-size: 2vw;
    text-align: right;
}

section#experiences .container .content h2::after {
    content: '';
    width: 13px;
    height: 13px;
    background-color: var(--thir);
    position: absolute;
    right: -30px;
    top: 30%;
    transform: rotate(45deg);
}

section#experiences .container .content h2::before {
    content: '';
    width: 3px;
    height: calc(100%*5);
    background-color: var(--thir);
    position: absolute;
    right: -25px;
    top: 7px;
}

section#experiences .container .content .last::before {
    height: calc(100%*3);
}

section#experiences .container .content h3 {
    font-weight: 700;
    font-size: 1.7vw;
    text-transform: capitalize;
}

section#experiences .container .content h4 {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.4vw;
}
/* Experiences End */

/* Technologies Start */
section#technologies {
    padding-bottom: 15%;
}

section#technologies h1{
    text-transform: uppercase;
    font-size: 9vw;
    font-weight: 800;
    padding: 2%;
    transform: translateX(-120%);
    transition: transform .5s ease-in;
    color: var(--sec);
}

section#technologies.show h1 {
    transform: translateX(0);
}

section#technologies .tech {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

section#technologies .tech div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    transition: transform 1s ease-in;
}

section#technologies .tech div:nth-child(1) {
    transform: translateX(200%);
}

section#technologies .tech div:nth-child(2) {
    transform: translateX(-200%);
    transition-delay: .5s;
}

section#technologies.show .tech div {
    transform: translateX(0);
}

section#technologies i {
    font-size: 9vw;
    animation: zoomInOut 3s infinite;
    color: var(--dark);
    transition: color .3s ease-in-out;
}

section#technologies i:hover {
    color: #0784DE;
    cursor: pointer;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);  
    }

    50% {
        transform: scale(1.05);  
    }
    100% {
        transform: scale(1);  
    }
}
/* Technologies End */

/* Projects Start */
section#projects {
    color: var(--thir);
    background-color: var(--main);
    padding-bottom: 15%;
}

section#projects h1 {
    text-transform: uppercase;
    font-size: 9vw;
    font-weight: 800;
    padding: 2%;
    opacity: 0;
    transition: opacity .5s ease-in;
}

section#projects.show h1 {
    opacity: 1;
}

section#projects .container {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity .5s ease-in;
}

section#projects.show .container {
    opacity: 1;
}

section#projects .container .text {
    width: 45%;
    padding: 3%;
    padding-right: 0;
}

section#projects .container .text span {
    display: none;
}
section#projects .container .text h2 {
    font-size: 7vw;
    color: var(--ina);
    text-transform: uppercase;
    font-weight: 800;
    transition: all .3s ease-in-out;
}

section#projects .container .text h2:hover {
    background-color: var(--thir);
    color: var(--main);
    cursor: pointer;
}

section#projects .container .text h2.active {
    color: var(--thir);
}

section#projects .container .text h2.active:hover {
    background: none;
}

section#projects .container .text p {
    font-size: 2vw;
    margin: 3% 0;
}

section#projects .container .text p a {
    color: var(--sec);
    font-size: 2em;
    margin-right: 4%;
}

section#projects .container .text p a i {
    transition: transform .3s ease-in-out;
    color: var(--sec);
}

section#projects .container .text p a i:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: var(--thir);
}

section#projects .container .img {
    background-color: var(--sec);
    border-radius: 20px;
    width: 50%;
    margin-right: 3%;
    position: relative;
}

section#projects .container .img img {
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 20px;
}

section#projects .container .img img.active {
    opacity: 1;
}
/* Projects End */

/* Contacts Start */
section#contacts {
    padding-bottom: 15%;
    height: auto;
    color: var(--sec);
}

section#contacts h1 {
    text-transform: uppercase;
    font-size: 9vw;
    font-weight: 800;
    padding: 2%;
    transform: translateX(-200%);
    transition: transform .5s ease-in;
}

section#contacts.show h1 {
    transform: translateX(0);
}

section#contacts div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    transform: translateX(300%);
    transition: transform .5s ease-in;
}

section#contacts.show div {
    transform: translateX(0);
}

section#contacts div i{
    font-size: 8vw;
    color: var(--dark);
    transition: transform .3s ease-in, color .3s ease-in;
}

section#contacts div i:hover{
    cursor: pointer;
    color: var(--main);
    transform: scale(1.05);
}
/* Contacts End */

/* GoUp Start */
.goUp {
    position: fixed;
    bottom: -100%;
    right: 15%;
    transition: bottom 1s ease-in, transform .1s ease-in-out;;
}

.goUp:hover {
    transform: scale(1.05);
}

.goUp a {
    font-size: 5vw;
}



.goUp a i {
    color: var(--sec);
    border-radius: 50%;
    transition: color .3s ease-in, background .3s ease-in;

}

.goUp:hover a i {
    background-color: var(--sec);
    color: var(--thir);
}

.goUp.showElem {
    bottom: 15%;
}
/* GoUp End */

/* Responsive Start */
@media screen and (max-width: 900px) {
    section#about p {
        margin: 0;
        padding: 0 3%;
        width: 100%;
        font-size: 2vw;
    }

    section#education .container .content h2 {
        font-size: 3.5vw;
    }

    section#education .container .content h3 {
        font-size: 3.2vw;
    }

    section#education .container .content h4 {
        font-size: 2.9vw;
    }

    section#education .container .content p {
        font-size: 2.3vw;
    }

    section#experiences .container .content h2 {
        font-size: 3.5vw;
    }

    section#experiences .container .content h3 {
        font-size: 3.2vw;
    }

    section#experiences .container .content h4 {
        font-size: 2.9vw;
    }

}

@media screen and (max-width: 800px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateY(0);
        height: 100vh;
        backdrop-filter: blur(3px);
        z-index: 1;
        border-radius: 0;
        box-shadow: none;
        margin-left: 100%;
        transition: margin .3s ease-in;
    }

    header.showmenu {
        margin-left: 0;
    }

    header:hover {
        padding: 0;
        width: 100%;
    }

    header ul {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    header ul li {
        text-align: center;
    }

    header ul li a {
        opacity: 1;
    }

    header ul li::after {
        display: none;
    }


    #menu {
        position: fixed;
        display: block;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        top: 10px;
        right: 10px;
        justify-content: space-between;
        z-index: 2;
        overflow: hidden;
        backdrop-filter: blur(5px);
    }

    #menu span {
        display: inline-block;
        width: 100%;
        height: 3px;
        background-color: var(--sec);
        transition: all .3s ease-in;
    }

    #menu.showmenu span:nth-child(1) {
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
    }

    #menu.showmenu span:nth-child(2) {
        position: absolute;
        top: 50%;
        transform: translateX(100%);

    }

    #menu.showmenu span:nth-child(3) {
        position: absolute;
        top: 50%;
        transform: rotate(-45deg);
    }
}
/* Responsive End */